<div class="container">
	<h3 class="text-center position-margin-top-default">
		<span class="glyphicon glyphicon-list"></span> Listagem de Cidades
	</h3>
	<form role="form" data-ng-submit="vm.findCidades(vm.parametroBusca)">
		<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-3 col-lg-6 col-lg-offset-3">
			<label class="control-label"></label>
			<div class="inner-addon right-addon">
				<i class="glyphicon glyphicon-search"></i> <input autocomplete="off" type="text"
					class="form-control" id="searchField" data-ng-model="vm.parametroBusca"
					placeholder="Pesquisar" data-capitalize/>
			</div>
		</div>
	</form>
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div class="help-block position-margin-top-default">
		{{vm.cidades.data.length}} de {{vm.cidades.recordCount}} registros</div>
	</div>
	<div class="table-responsive col-xs-12 col-sm-12 col-md-12">
		<table
			class="table table-row-resize table-striped position-margin-top-default">
			<thead>
				<th class="col-sm-4 col-md-4 col-xs-4">Nome</th>
				<th class="col-sm-1 col-md-1 col-xs-1">Sigla</th>
				<th class="col-sm-2 col-md-2 col-xs-2">Código de Discagem</th>
				<th class="col-sm-3 col-md-3 col-xs-3">Unidade Federativa</th>
				<th class="col-sm-2 col-md-2 col-xs-2">Ações</th>
			</thead>
			<tbody>
				<tr data-ng-repeat="cidade in vm.cidades.data">
					<td>{{cidade.nome}}</td>
					<td>{{cidade.sigla}}</td>
					<td>{{cidade.codigodediscagem}}</td>
					<td>{{cidade.ufnome}}</td>
					<td>
						<button type="button" class="btn btn-warning btn-sm" action-verify="EDITAR_CIDADE"
							data-ng-click="vm.goToEdit(cidade.id)">
							<span class="glyphicon glyphicon-pencil"></span>
						</button>
						<button type="button" class="btn btn-danger btn-sm" action-verify="REMOVER_CIDADE"
							data-ng-click="vm.remove(cidade,'')">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-center col-sm-12 col-xs-12 col-md-12">
		<pagination boundary-links="true" num-pages="vm.cidades.count"
			total-items="vm.cidades.recordCount" items-per-page="10"
			data-ng-model="vm.pageNumber"
			ng-change="vm.findCidades(vm.parametroBusca, vm.pageNumber)"
			class="pagination-lg position-margin-top-default"
			previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
			last-text="&raquo;"> </pagination>
	</div>
</div>
<div class="container-fluid">
	<button class="col-xs-12 col-sm-12 btn-circle btn-xl btn btn-primary" action-verify="CRIAR_CIDADE"
		type="button" title="Cadastrar uma nova cidade" data-ng-click="vm.create()">
		<i class="glyphicon glyphicon-plus"></i>
	</button>
</div>