<div class="col-md-12">
    <form class="form-horizontal" name="editForm" role="form" novalidate ng-submit="vm.save()">
        <jhi-alert-error></jhi-alert-error>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5 class="panel-title">Cadastro de <strong>Pessoa</strong></h5>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-md-3 col-xs-12  control-label" for="nome">Nome</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="nome" id="nome"
                                   ng-model="vm.pessoa.nome"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">E-mail</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="email" id="email"
                                   ng-model="vm.pessoa.email"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">C.P.F</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="cpf" id="cpf"
                                   ng-model="vm.pessoa.cpf"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-3 col-xs-12 control-label">Inscrição</label>
                    <div class="col-md-6 col-xs-12">
                        <div class="input-group">
                            <input type="text" class="form-control" name="inscricao" id="inscricao"
                                   ng-model="vm.pessoa.inscricao"/>
                        </div>
                    </div>
                </div>


            </div>
            <div class="panel-footer">
                <button type="submit" class="btn btn-primary " ng-disabled="editForm.$invalid || vm.isSaving">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Salvar</span>
                </button>
                <button type="button" class="btn btn-default" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Voltar</span>
                </button>

            </div>
        </div>
    </form>
</div>
