<div class="col-xs-6 col-sm-4 col-md-12 col-lg-12 withoutPadding center">
    <div class="thumbnail" style="height: 165px; align-items: center; display: -webkit-flex;">
        <img src="{{imagePreview ? imagePreview : imagePattern}}" style="max-width: 100%; max-height: 100%;">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 withoutPadding">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 withoutPadding">
        <span class="btn btn-primary btn-file totalWidth bordersRightWithoutRadio" title="Pesquisar imagem"
              data-ng-disabled="isDisabled">
            <span class="glyphicon glyphicon-search"/>
            <input autocomplete="off" type="file" accept="image/*" id="inputImage" data-ng-disabled="isDisabled">
        </span>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 withoutPadding">
        <span class="btn btn-danger btn-file totalWidth bordersLeftWithoutRadio" title="Deletar imagem" data-ng-disabled="!imageSelected || isDisabled" data-ng-click="deleteImage()">
            <span class="glyphicon glyphicon-trash"/>
        </span>
        </div>
    </div>
</div>
