<form role="form" data-ng-submit="executeFunction(getPageNumber())">
  <div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-md-offset-2 col-lg-offset-3 col-lg-6 col-lg-offset-3">
    <label class="control-label"></label>
    <div class="inner-addon right-addon">
      <i class="glyphicon glyphicon-search"></i>
      <input autocomplete="off" type="text" class="form-control" id="searchField" data-ng-model="searchField" placeholder="Pesquisar" data-capitalize="{{isUpperCase}}" data-ng-disabled="isDisabled"/>
    </div>
  </div>
</form>